body {
	font: 200 'Montserrat', sans-serif;
	color: : rgba(0,0,0,0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	background: linear-gradient(to right, red, yellow); /* direction, starting color, ending color */
}

h1 {
	font: 900 3.5em "Montserrat", cursive-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	width: 100%;
}

h2 {
	font: 400 1em "Montserrat", sans-serif;
	margin-bottom: 0px;
	margin-top: 1rem;
}

h3 {
	font: 600 1em "Montserrat", sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-transform: none;
	text-align: center;
	letter-spacing: 0.01em;
	border: 2px dotted black;
	padding: 1rem;
	display: inline-block ;
}


/* CSS */
.btn-random {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
}

.btn-random:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .btn-random {
    padding: 0.25em 0.75em;
  }
}